<h1 class="how">How i started Programming!</h1>
<p class="cursue">I worked my way from "I know almost nothing about web-development" up to "I make money on it" in 4 months.

At the end of 2017 I gave a serious thought to changing my profession, I was 26 back then. For the last 6 years I had been working on a funny, nil paid but completely mindless job.

My choice(frankly speaking, my mentor choice!) fell on programming → Web → Ruby on Rails. He believed in me. Thanks to my SIR, I am not going to explain why, I was googling this subject a lot and choosing what would be more interesting for me and more suitable for my career.</p>

<h1>My skills at that time were:<span class="nothing">NOTHING.</span><span class="zero">A big ZERO.</span></h2> 

<p class="cursue">I am sure that: after good self-study and work with a mentor you will soon be able to find a job as a junior ruby developer, Don't hesitate - go ahead, and may the luck be with you!(us)
</p>
