<div class="inner cover">
  <h1 class="cover-heading">Hello, I am Kota Sri Harsha</h1>
    <p class="lead">The Ruby community and the language itself are a fast-growing phenomenon that plays an ever-increasing role in the ecosystem of web apps we all know and use
    =>Tip: Keep in mind that the complexity of the Rails project will depend on your scope and feature. Spend some time planning the project or you will have trouble finishing it.</p>
    <p class="lead">
    <%= link_to "About Me", about_me_path, class: "btn btn-lg btn-secondary" %>
  </p>
</div>



    
